h1{
	color: blue;
        text-align: center;
}
div{
	border: 1px solid;	
	background-color: white;
	font-family: Arial,sans-serif;
	font-size: 15px;

}
#menu {
	background-color: orange;
	border: 1px solid;
	width: 100px;


}
#content {
	background-color: green;
	width: 500px;
}
#header {
	background-color: yellow;
}
